/.yardoc/
/vendor/bundle
/vendor/mount
/test/tmp/
/lib/bundler/man/
/coverage/
.dat*
.rvmrc
.env
.rubocop-http*
/.dockerignore
/tmp/
/doc/
/.config
.repl_history
*.gem
/InstalledFiles
config/production.yml
*.rbc
config/development.yml
/test/version_tmp/
/spec/reports/
/.bundle/
/_yardoc/
/pkg/
/rdoc/
/log/
